<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
</head>

<body>
	<div id="wrapper">
		<!-- Navigation -->
		<div th:replace="fragments/navbar :: navbar">...</div>
        <div id="page-wrapper">
	        <!-- Page Heading -->
	        <div class="row">
	            <div class="col-lg-12">
	                <h1 class="page-header">
	                	Daftar Kurikulum
	                </h1>
	            </div>
	        </div>
	        <!-- /.row -->
	        
	        <div class="row">
	            <div class="col-md-12">
	            	<table class="table table-hover" id="kurikulumTable">
	            		<thead>
	            			<th>No</th>
	            			<th>Nama</th>
	            			<th class="text-center">
	            				Menu 
	            				&nbsp;&nbsp;
	            				<a th:href="'/kelA/kurikulum/add'" class="btn btn-success"><i class="fa fa-plus fa-fw"></i> Buat Baru</a>
	            			</th>
	            		</thead>
	            		<tbody>
	            			<tr th:each="kurikulum,iterationStatus: ${kurikulums}">
			        			<td th:text="${iterationStatus.count}"></td>
			        			<td th:text="${kurikulum.namaKurikulum}"></td>
			        			<td class="text-center">
			        				<a th:href="'/kelA/kurikulum/edit/' + ${kurikulum.kodeKurikulum}" class="btn btn-primary"><i class="fa fa-edit fa-fw"></i> Ubah</a>
			        				&nbsp;
			        				<a th:onclick="'showDeleteConfirmation(\'' + ${kurikulum.kodeKurikulum} + '\');'" class="btn btn-danger"><i class="fa fa-times fa-fw"></i> Hapus</a>
			        			</td>
	            			</tr>
	            		</tbody>
	            	</table>
	            </div>
	        </div>
	        <!-- /.row -->
		</div>
		<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                    <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
	                </div>
	                <div class="modal-body">
	                    Are you sure, do you want to delete this record ?
	                    <input type="hidden" name="kodeKurikulum" id="deleteKodeKurikulum" />
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
	                    <button type="button" class="btn btn-primary" onclick="deleteForm()">Yes</button>
	                </div>
	            </div>
	            <!-- /.modal-content -->
	        </div>
	        <!-- /.modal-dialog -->
	    </div>
	</div>
	
    <!-- Javascript -->
    
	<div th:replace="fragments/javascript :: javascript">...</div>
	<script type="text/javascript">
		$(document).ready( function () {
		    $('#kurikulumTable').DataTable();
		} );
		function showDeleteConfirmation(kodeKurikulum)
		{
            $("#deleteConfirmModal").modal();
            document.getElementById("deleteKodeKurikulum").value = kodeKurikulum;
		}
		function deleteForm()
		{
			var kodeKurikulum = document.getElementById("deleteKodeKurikulum").value;
			location.href = "kurikulum/delete/"+kodeKurikulum;
		}
	</script>
</body>

</html>
