<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<div th:fragment="navbar">
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" th:href="'/univ'">Tugas Akhir</a>
	            </div>
	            <!-- /.navbar-header -->
	
	            <ul class="nav navbar-top-links navbar-right">
	                <!-- /.dropdown -->
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-user">
	                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
	                        </li>
	                        <li class="divider"></li>
	                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-user -->
	                </li>
	                <!-- /.dropdown -->
	            </ul>
	            <!-- /.navbar-top-links -->
	
	            <div class="navbar-default sidebar" role="navigation">
	                <div class="sidebar-nav navbar-collapse">
	                    <ul class="nav" id="side-menu">
	                    	<li>
	                    		<a th:href="'/'"><i class="fa fa-home fa-fw"></i>Home</a>
	                    	</li>
	                        <li>
	                            <a href="#"> Kelompok A<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                            	<li>
			                            <a th:href="'/kelA/univ'"> Universitas</a>
			                        </li>
			                        <li>
			                            <a th:href="'/kelA/fakultas'"> Fakultas</a>
			                        </li>
			                        <li>
			                            <a th:href="'/kelA/prodi'"> Prodi</a>
			                        </li>
			                        <li>
			                            <a th:href="'/kelA/kurikulum'"> Kurikulum</a>
			                        </li>
			                        <li>
			                            <a th:href="'/kelA/matakuliah'"> Matakuliah</a>
			                        </li>
	                            </ul>
	                        </li>
	                        <li>
	                            <a href="#"> Kelompok B<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                            	<li>
			                            <a th:href="'/kelB/menu 1'"> Menu 1</a>
			                        </li>
			                        <li>
			                            <a th:href="'/kelB/menu 2'"> Menu 2</a>
			                        </li>
			                        <li>
			                            <a th:href="'/kelB/menu 3'"> Menu 3</a>
			                        </li>
			                        <li>
			                            <a th:href="'/kelB/menu 4'"> Menu 4</a>
			                        </li>
	                            </ul>
	                        </li>
	                        <li>
	                            <a href="#"> Kelompok C<span class="fa arrow"></span></a>
	                            <ul class="nav nav-second-level">
	                            	<li>
			                            <a th:href="'/kelC/menu 1'"> Menu 1</a>
			                        </li>
			                        <li>
			                            <a th:href="'/kelC/menu 2'"> Menu 2</a>
			                        </li>
			                        <li>
			                            <a th:href="'/kelC/menu 3'"> Menu 3</a>
			                        </li>
			                        <li>
			                            <a th:href="'/kelC/menu 4'"> Menu 4</a>
			                        </li>
	                            </ul>
	                        </li>
	                    </ul>
	                </div>
	                <!-- /.sidebar-collapse -->
	            </div>
	            <!-- /.navbar-static-side -->
	        </nav>
		</div>
	</body>
</html>