<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head th:fragment="header">
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	
	    <title>Tugas</title>
	
	    <!-- Bootstrap Core CSS -->
	    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	
	    <!-- MetisMenu CSS -->
	    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet" />
	
	    <!-- DataTables CSS -->
	    <link th:href="@{/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet" />
	
	    <!-- DataTables Responsive CSS -->
	    <link th:href="@{/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet" />
	    
	    <!-- bootstrap-select-1.12.2 -->
	    <link th:href="@{/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet" />
	    
	    <!-- Custom CSS -->
	    <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet" />
	    
	    <!-- Morris Charts CSS -->
	    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet" />
	    
	    <!-- Custom Fonts -->
	    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
	</head>
</html>